@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .grad-text {
    font-size: 60px;
    background: linear-gradient(90deg, rgba(51,61,215,1) 0%, rgba(98,174,232,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .mre-blue-bg {
    background-color: #175788;
  }

  .grad-bg {
    background: linear-gradient(90deg, rgba(51,61,215,1) 0%, rgba(98,174,232,1) 100%);
  }

  .test {
    display: grid;
    grid-template-columns: 0.2fr 0.6fr 0.2fr;
    grid-template-rows: 0.1fr 0.8fr 0.1fr;
  }

  .test-c {
    grid-area: 2 / 2 / 3 / 3;
  }

  .persp {
    transform-style: preserve-3d;
    perspective: 1000px;
  }
}