@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .mre-blue-bg {
    background-color: #175788;
  }

  .grad-bg {
    background: linear-gradient(270deg, rgba(51,61,215,1) 0%, rgb(72, 69, 130) 100%);
  }

  .test {
    display: grid;
    grid-template-columns: 0.2fr 0.6fr 0.2fr;
    grid-template-rows: 0.1fr 0.8fr 0.1fr;
  }

  .test-c {
    grid-area: 2 / 2 / 3 / 3;
  }

  .persp {
    transform-style: preserve-3d;
    perspective: 1000px;
  }

  .glass {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.44);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.9px);
    -webkit-backdrop-filter: blur(12.9px);
    border: 1px solid rgba(255, 255, 255, 0.19);
  }

  .glass-darker {
    /* From https://css.glass */
    background: rgba(226, 226, 226, 0.44);
    cursor: pointer;
  }
}